@model AccountViewModel
<form method="post" asp-page-handler="Edit">
    <div class="modal-body">
        <input type="hidden" asp-for="AccountId" />
        <div class="mb-3">
            <input asp-for="AccountName" class="form-control" />
            <span asp-validation-for="AccountName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input asp-for="AccountEmail" class="form-control" />
            <span asp-validation-for="AccountEmail" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <select asp-for="AccountRole" class="form-select">
                <option value="0">Admin</option>
                <option value="1">Staff</option>
                <option value="2">Lecturer</option>
            </select>
            <span asp-validation-for="AccountRole" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-gradient">Save</button>
    </div>
</form>
